<section class="contact-form" id="contact">
  <div class="back-to-top">
    <div class="site-wrapper">
     <a href="#top" role="button" class="btn filled primary">Back to top</a> 
    </div>

  </div>

    <div class="site-wrapper">
   <h2 class="form-title">Let's get <strong>connected</strong></h2>
    
  <div class="card">
  <form class="contact-form-grid"
  action="https://formspree.io/f/mrbpadol"
  method="POST">
  <div class="form-grid name">
    <label for="_name">
        <p>Your name:</p>
      </label>
    <input type="text" name="_name">
  <p class="form-help">Please include your full name</p>
  </div>
  
  <div class="form-grid email">
    <label for="_email">
      <p>Your email:</p>
    </label>
    <input type="text" name="_replyto">
    <p class="form-help">Please ensure this is a valid email address</p>
  </div>
  
  <div class="form-grid message">    
  <label for="message"> 
    <p>Your message:</p>
  </label>
  <textarea name="message"></textarea>
    </div>  
    
    <button role="button" class="btn primary filled" type="submit">Send Message</button>
    <p class="form-help">Powered by Formspree</p>
  </form>
</div>
  </div>
  </section>