@import "https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap";
@import "tailwindcss";
@import "../styles/modules/imports.css";

@theme {
    --font-barlow: "Barlow Condensed", sans-serif; 
    --font-playfair: "Playfair Display", serif; 
    --font-lato: "Lato", sans-serif; 

    --color-matcha-50: #f1fcf9;
    --color-matcha-100: #d1f6ee;
    --color-matcha-200: #a2edde;
    --color-matcha-300: #6cdccb;
    --color-matcha-400: #4cc8b8;
    --color-matcha-500: #24a899;
    --color-matcha-600: #1a877d;
    --color-matcha-700: #196c65;
    --color-matcha-800: #195652;
    --color-matcha-900: #194845;
    --color-matcha-950: #082b2a;
    --color-biscuit-50: #fdf8ef;
    --color-biscuit-100: #faefda;
    --color-biscuit-200: #f4dcb4;
    --color-biscuit-300: #ecc485;
    --color-biscuit-400: #e6a960;
    --color-biscuit-500: #de8831;
    --color-biscuit-600: #cf7027;
    --color-biscuit-700: #ac5722;
    --color-biscuit-800: #8a4622;
    --color-biscuit-900: #6f3b1f;
    --color-biscuit-950: #3c1c0e;
    --color-tuna-50: #f5f7fa;
    --color-tuna-100: #ebeef3;
    --color-tuna-200: #d2d9e5;
    --color-tuna-300: #abb9ce;
    --color-tuna-400: #7e93b2;
    --color-tuna-500: #5e7699;
    --color-tuna-600: #4a5e7f;
    --color-tuna-700: #3c4b68;
    --color-tuna-800: #354157;
    --color-tuna-900: #293140;
    --color-tuna-950: #202531;
    --color-shark-50: #f6f7f9;
--color-shark-100: #ededf1;
--color-shark-200: #d7dae0;
--color-shark-300: #b4bac5;
--color-shark-400: #8b93a5;
--color-shark-500: #6c758b;
--color-shark-600: #575f72;
--color-shark-700: #474d5d;
--color-shark-800: #3d424f;
--color-shark-900: #363a44;
--color-shark-950: #24262d;
--color-pampas-50: #f7f6f5;
--color-pampas-100: #efeeea;
--color-pampas-200: #dad7ce;
--color-pampas-300: #c2bdaf;
--color-pampas-400: #a8a08f;
--color-pampas-500: #978c78;
--color-pampas-600: #8a7d6c;
--color-pampas-700: #73675b;
--color-pampas-800: #5f554d;
--color-pampas-900: #4e4640;
--color-pampas-950: #292521;  
}