---
import config from "../../../content/config/config.json";
import FooterIconLink from "../../react/FooterIconLink"

const today = new Date();
---
	<footer class="copyright-footer">
		<div class="site-wrapper">
			<nav role="navigation">
				<ul class="internal-links">

					{
						config?.nav.map((nav) => {
							return (
								<li class="footer-nav-item">
								<FooterIconLink {...nav} />
							</li>
							);
						})
					}
				</ul>
				</nav>	


		<small>
		<a href="https://tina.io" target="_blank" rel="noopener noreferrer">Powered by TinaCMS</a>
		<br>
		&copy; {today.getFullYear()}
		{config.seo.siteOwner}. All rights reserved.
		</small>
	</div>
	</footer>
