---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/partials/Header/Header.astro';
import Footer from '../components/partials/Footer/Footer.astro';
import ContactForm from '../components/partials/Blocks/ContactForm.astro';
import { ClientRouter } from 'astro:transitions';
---


<!doctype html>
<html lang="en" id="top">
	<head>
		<BaseHead />
	</head>
		<body>
		<Header />
		<main id="swup">
			<div id="main-content">
		<slot/>
		<ContactForm />
	</div>
		</main>
		<Footer />
	</body>
</html>

<ClientRouter/>