@layer base {

@mixin boxshadow{
  box-shadow: 0 10px 20px -12px rgba(16,24,40,.1);
}

@mixin shadow{
  filter: drop-shadow(0 10px 20px -12px rgba(16,24,40,.1));
}


  /* DEFAULTS
/* ------------------------------- */

    html, body {
        height: -webkit-fill-available;


        @include screen(sm) {
          height: auto;
        }

       
      }
      
      html {
        position:relative;
        
      }
      
        body {
          display:flex;
          flex-direction:column;
          height:100vh;
          @apply relative;
        
        }
      
      main {
          flex:1;
          overflow-x:hidden;
      
          @include screen (sm) {
            flex:none;
          }
      
        }
      
        body > footer {
          margin-top:auto;
        }

    .site-wrapper {
            @apply flex;
            @apply flex-col;
            @apply px-16;
            @apply relative;
            @apply container;
            @apply mx-auto;

            @include screen(md) {
                @apply px-4;
            }

        }

        section {
            @apply py-32;
        }


        .swup-progress-bar {
          height: 16px;
          @apply bg-matcha-400;
        }
/* ------------------------------- */

/* SKIP TO CONTENT LINK
/* ------------------------------- */

/* ------------------------------- */

  /* HERO SECTION
/* ------------------------------- */
.hero-section, .hero-section.portfolio {
  @apply flex;
  @apply flex-col;
  @apply items-stretch;
  clip-path: url(#paintstroke);
  @apply relative;
  @apply min-h-[561px];


  .site-wrapper {
    @apply grow;
    @apply justify-center;
  }

.message, .cta-row, .hero-content h2, .hero-content p {
  @apply mx-auto;
}

.cta-row {
  @apply flex;
  @apply flex-col;
  @apply gap-4;
  @apply mt-[1.2000em];

  @include screen(md) {
    @apply flex-row;
}

@include screen(lg) {
  @apply flex-row;
  @apply mt-[1.2000em];
}

}

svg {position:absolute;
     z-index:-9999999;
    top:0;
    left:0;
    bottom:0;
    right:0;}

}


  /* PORTFOLIO HERO
/* ------------------------------- */
.hero-section.portfolio {

.site-wrapper {
  @apply flex-col;
  @apply gap-4;

@include screen(lg){
  @apply flex-row;
  @apply items-stretch;
  @apply justify-center;
  @apply gap-16;
}

}

.hero-image, .project-details {
  @apply basis-full;

  @include screen(md){
    @apply basis-1/2;
  }

}
.hero-image {
  img {@apply my-auto;
      @apply block;}

}
.project-details, .hero-image{
  @apply flex;
  @apply flex-col;
  @apply justify-center;

  .card {@apply h-auto;
  
  figure {@apply p-0;
          @apply block;
          @apply h-auto;}
  
  }

  .tag-block li {@include shadow}


 .project-deliverables, .project-timeframe {
  @apply flex;
  @apply flex-row;
  @apply gap-2;
  @apply flex-wrap;
 
.project-deliverables-content, .project-timeframe-content {
  @apply grow;
}

} 

.tag-block {
  @apply mt-[1.5em];
}
}

}
/* ------------------------------- */

  /* CONTACT FORM
/* ------------------------------- */
.contact-form {

.back-to-top {
  .site-wrapper {
    @apply flex-row;
    @apply justify-center;
    @apply items-center;

  .btn {@apply w-auto;}

  }
}

 .card {@apply p-8;
  @apply mt-[1.5em];
  
  @include screen(md){
    @apply max-w-[90ch];
    @apply mx-auto;
  }


} 

.contact-form-grid {
  @apply flex;
  @apply flex-col;

  @include screen(lg){
    @apply flex-row;
    @apply flex-wrap;
    @apply justify-between;
    @apply gap-4;
  }

  .form-grid {
    @apply flex;
    @apply flex-col;

    label {
      @apply block;
      @apply mb-2;
    }

    input, textarea {
      @apply appearance-none;
      @apply block;
      @apply w-full;
      @apply rounded;
      @apply py-3; 
      @apply px-4;
      @apply mb-3;
      @apply border;
      
      &:focus{
      @apply border; 
      @apply outline-none;
    }
      }

      &.name, &.email {
        @apply w-full;

        @include screen(lg){
          @apply w-[49%];
        }
      }

      &.message {
        @apply w-full;
      }
}

}

}


/* ------------------------------- */


  /* CARDS
/* ------------------------------- */

.card, .card .content {
  @apply flex;
  @apply flex-col; 
  @apply items-stretch;
}

.card {
  @apply relative;
  @apply overflow-hidden; 
  @apply rounded-xl;
  @include boxshadow;
  @apply border-1;



  figure {
    @apply w-[100%];
    @apply pb-[100%];
    @apply relative;
    @apply h-0;

    picture, picture img {
      @apply h-full;
      @apply w-full;}


      picture {@apply absolute;
               @apply top-0;
               @apply left-0;
              @apply bottom-0;
              @apply right-0;}
      picture img {@apply object-cover;}
  }


.content {
  @apply px-8;
  @apply py-8;
  @apply grow;

  &:last-child{
    @apply mt-auto;
  }

  &:nth-last-child(2) {
    @apply mb-[0.75rem];
  }

}

.content > * + * {
  @apply mt-[0.75rem];
}

.tag-block{
  @apply mt-[1.5em];
}

}
/* ------------------------------- */



  /* TAGS
/* ------------------------------- */

.tag-block {
  @apply flex;
  @apply gap-4;
  @apply flex-row;
  @apply flex-wrap;


li {
  @apply py-2;
  @apply px-4;
  @apply border;
  @apply rounded;
}

}

/* ------------------------------- */

/* PORTFOLIO AND ABOUT PAGE CARD LISTS
/* ------------------------------- */

        .portfolio-list, .skills-list {
            @apply flex;
            @apply flex-col;
            @apply gap-4;
            @include screen(sm) {
              @apply flex-row;
              @apply flex-wrap;
              @apply justify-start;
            }
          }


      .portfolio-list {
    
    
    .card a::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    
    .card a:focus {
        outline: none;
    }

    @include screen(sm) {
      .card {
        @apply basis-[48%];
      }
    }

    @include screen(lg) {
      .card {
        @apply basis-[32%];
      }
    }

    @include screen(2xl) {
      .card {
        @apply basis-[24%];
      }
    }

}

/* ------------------------------- */

/* ABOUT PAGE
/* ------------------------------- */

section.skills-section {

.site-wrapper {
@apply flex;
@apply flex-col;
@apply gap-4;

@include screen(lg){
  @apply flex-row;
  @apply items-stretch;
}

}

.intro, .skills-column {
  @apply basis-full;

  @include screen(lg){
    @apply basis-1/2;
  }

}

.skills-list {
  @apply mt-[1.5000em];

  @include screen(sm) {
    .card {
      @apply basis-[48%];
    }
  }

}


}

/* ------------------------------- */


.case-study {
  @apply relative;

  .prose {
    @apply mx-auto;
  }

  .card.project-image{

    @apply mt-[1.5em];

    @include screen(lg){
      @apply mx-[-10em];
    }

  }

}

.theme-switcher .switch {
  @include shadow;
}

.logoSVG {@include shadow;}

}