@layer base {
    @mixin vr($size) {
        @if $size == text9xl {
            @apply text-9xl;
            @apply mt-[0.1875em];  
            @apply mb-0;
        }
        @if $size == text8xl {
            @apply text-8xl;
            @apply mt-[0.2500em];  
            @apply mb-0;
        }
        @if $size == text7xl {
            @apply text-7xl;
            @apply mt-[0.3333em];  
            @apply mb-0;
        }
        @if $size == text6xl {
            @apply text-6xl;
            @apply mt-[0.4000em];  
            @apply mb-0;
        }
        @if $size == text5xl {
            @apply text-5xl;
            @apply mt-[0.5000em];  
            @apply mb-0;
        }
        @if $size == text4xl {
            @apply text-4xl;
            @apply mt-[0.6667em];  
            @apply mb-0;
        }
        @if $size == text3xl {
            @apply text-3xl;
            @apply mt-[0.8000em];  
            @apply mb-0;
        }
        @if $size == text2xl {
            @apply text-2xl;
            @apply mt-[1.0000em];  
            @apply mb-0;
        }
        @if $size == textxl {
            @apply text-xl;
            @apply mt-[1.2000em];  
            @apply mb-0;
        }
        @if $size == textlg {
            @apply text-lg;
            @apply mt-[1.3333em];  
            @apply mb-0;
        }
        @if $size == textbase {
            @apply text-base;
            @apply mt-[1.5000em];  
            @apply mb-0;
        }
        @if $size == textsm {
            @apply text-sm;
            @apply mt-[1.7143em];  
            @apply mb-0;
        }
        @if $size == textxs {
            @apply text-xs;
            @apply mt-[2.0000em];  
            @apply mb-0;
        }
      }



      @mixin copy {
        @include vr(textbase);
        @apply font-lato;
        @include screen(lg){
            @include vr(textlg);
        }
      }

      @mixin lede {
        @include vr(textxl);
        @apply font-lato;

        @include screen(lg){
            @include vr(text2xl);
            @apply max-w-[45ch];
        }
      }

      @mixin hero-heading{
        @apply max-w-[35ch];
        @apply font-barlow;
        @apply font-semibold;
        @include vr(text5xl);

        @include screen(lg){
            @include vr(text6xl);
        }
      }

      @mixin hero-heading-hilite{
            @apply font-playfair;
            @apply italic;
            @apply text-transparent;
            @apply bg-clip-text;
            @apply overflow-visible;
            @apply px-0.5;
            @apply font-black;
      }

      @mixin uppercase {
        @apply uppercase;
        @apply tracking-wide;
      }

      @mixin project-client-name{
        @include vr(textsm);
         @include uppercase;
        @apply font-bold;
        @apply font-lato;
      }

      @mixin sub-heading{
        @apply font-barlow;
        @apply font-semibold;
        @include vr(text2xl);
        @include screen(sm){
            @include vr(text2xl);
        }
        @include screen(md){
            @include vr(text3xl);
        }
      }


 /* HERO SECTIONS */
 /* ------------------------------- */  

.hero-section, .hero-section.portfolio{

    .hero-content {@apply text-center;}

    .hero-title, .project-title {@include hero-heading;
    
        strong {@include hero-heading-hilite();}
    
    }

    .hero-lede, .project-description {@include lede;}

    .cta-row {
        @include vr(textxl);
    .btn {@apply text-xl;
         @apply mt-0;}      
    }

    .project-client-name, .project-client-name a {
        @include project-client-name();
    }

    .project-deliverables, .project-timeframe {
        @include copy;
        @apply font-lato;

        strong {
            @apply font-bold;}
   
        }
}

.hero-section.portfolio {
    .project-title {@apply mt-0;}
}
 /* ------------------------------- */


 /* SKILLS SECTION */
 /* ------------------------------- */  

.skills-section{

    h3 {@include sub-heading;}
    
    .intro{
        p { @include copy;
            @apply mr-auto;
        
        @include screen(lg){
            @apply max-w-[65ch];
        }
        
        
        }
    }
    
    }

/* ------------------------------- */


 /* CONTACT FORM SECTION */
 /* ------------------------------- */  
.contact-form {
    .form-title {@include hero-heading();
        @apply text-center;
        @apply mx-auto;
    
    strong {@include hero-heading-hilite();}
    
    }

    .form-grid {

        label, .form-help {
        @apply font-lato;}

            label {
                @apply text-xs;
                @include uppercase; 
                @apply font-bold;}

        input, textarea {
            @apply font-lato;
            @apply leading-tight;
        }
    }
}
/* ------------------------------- */

 /* CARDS */
 /* ------------------------------- */ 
.card {

.skill-description, .project-description {@include copy;}

.project-title {
    @apply text-left;
    @apply mr-auto;
    @apply text-2xl;

    @apply font-semibold;
    @apply font-barlow;
    @apply mt-0;
    
}

.skill-name {
    @apply text-left;
    @apply mr-auto;
    @apply text-xl;
    @apply font-semibold;
    @apply font-barlow;
    @apply mt-0;
    
}

  .project-client-name { 
    @include project-client-name();
    
    }
}

/* ------------------------------- */

 /* TAGS */
 /* ------------------------------- */  

 .tag-block li {
    @apply font-semibold;
    @apply font-lato;
    @apply text-sm;
    text-transform:capitalize;
 }

/* ------------------------------- */  

/* BTNS */
 /* ------------------------------- */  
.btn {
    @apply inline-flex;
    @apply border;
    @apply font-bold;
    @apply py-2; 
    @apply px-4; 
    @apply rounded;
    @apply shadow;
    @apply font-lato;
    @apply transition;
}

.btn.filled {
 @apply border-transparent;
}

.btn.ghost {
    @apply border;
    @apply border-b-4;
}

.btn.primary, .btn.secondary {
    &.filled {
        @apply border-b-4;
    }
}


/* ------------------------------- */

  
 /* NAVIGATION*/
 /* ------------------------------- */  

 .copyright-footer {
    a p {
        @apply text-center;
        @apply font-lato;
    }
 }

   /* ------------------------------- */

 /* CASE STUDIES */
/* ------------------------------- */
.case-study {
    .prose {
        @apply mx-auto;
        @apply max-w-[65ch];
    }

    h3 {@include sub-heading();}
    p {@include copy;}
    
    ul {@apply list-disc;
        li {@include copy;}
    }

    .card.project-image{
        figcaption {@include copy;
                    @apply mt-0;
                    @apply italic;}
    }

    blockquote {
        @include vr(text2xl);
        @apply font-black;
        @apply italic;
        @apply font-playfair;
        @apply text-transparent;
        @apply bg-clip-text;
        @apply overflow-visible;
        @apply px-0.5;
        @apply relative;
        quotes: "\201C""\201D""\2018""\2019";
        @apply flex;
        @apply flex-row;
        @apply gap-2;

        @include screen(md){
            @include vr(text3xl);
        }

        @include screen(lg){
            @include vr(text4xl);
        }

        &::before, &::after {
            @apply block;
            @apply font-playfair;
            @apply text-7xl;
            
            @include screen(md){
            @apply absolute;
            @apply text-8xl;
            }

            @include screen(lg){
            @apply text-9xl;
            }
        }

        &::before{
            content:open-quote;
            @apply text-left;
            @include screen(md){
            top:-0.25em;
            left: -0.6em;
            }
        }

        &::after{
            content:close-quote;
            @apply text-right;
            @include screen(md){
            bottom:-0.25em;
            right: -0.45em;
            }
        }

    }
}


/* ------------------------------- */


}

.skills-section .intro p, .prose, .site-header .internal-links {

    a {
        display: inline-block;
        text-decoration: none;
        @apply relative;
        @apply font-semibold;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
    
        /* Adjust height and bottom values to work with selected font */
        height: 0.2em;
        bottom: -0.2em;
        @apply transition-all;
    }
}

    a:hover::after {
        /* Adjust height and bottom values to work with selected font */
        height: 0.2em;
        bottom: -0.3em;
    }
}