@layer base {
        $light-PrimaryTextAccent: 'matcha-600';
        $dark-PrimaryTextAccent: 'matcha-400';
        $light-BGColour: 'pampas-50';
        $dark-BGColour: 'gray-900';
        $light-BGColourMidTone: 'pampas-200';
        $dark-BGColourMidTone: 'gray-950';
        $light-HeadingColour: 'shark-950';
        $dark-HeadingColour: 'shark-100';
        $light-LedeColour: 'shark-700';
        $dark-LedeColour: 'shark-300';
        $light-CardBG: 'gray-50';
        $dark-CardBG: 'gray-800';
        $light-CardBorder: 'shark-100';
        $dark-CardBorder: 'shark-950';
        $light-TagBorder: 'pampas-300';
        $light-TagText: 'pampas-800';
        $dark-TagBorder: 'shark-600';
        $dark-TagText: 'shark-300';


@mixin day-matcha-gradient{
    @apply bg-#{$light-PrimaryTextAccent};
    @apply bg-linear-to-br/oklch from-sky-500 to-#{$light-PrimaryTextAccent};
}

@mixin night-matcha-gradient{
    @apply bg-#{$dark-PrimaryTextAccent};
    @apply bg-linear-to-br/oklch from-matcha-200 to-#{$dark-PrimaryTextAccent};
}

@mixin matcha-gradient{
    @media (prefers-color-scheme: light){
        @include day-matcha-gradient;
    }
    @media (prefers-color-scheme: dark){
       @include night-matcha-gradient
    }
}

/* DEFAULTS
/* ------------------------------- */  

body{@apply bg-#{$light-BGColour};}
.logoSVG {
    @apply fill-#{$light-PrimaryTextAccent};
}

.copyright-footer{
    @apply bg-#{$light-BGColourMidTone};
}

.hero-section, .hero-section.portfolio {
    @apply bg-matcha-200; 
    @apply bg-linear-to-t/oklch from-pampas-100 via-biscuit-200 via-matcha-200  to-sky-300;  
}


.card {
        @apply bg-#{$light-CardBG};
        @apply border-#{$light-CardBorder};
}

.tag-block li, .contact-form input, .contact-form textarea {
        @apply bg-#{$light-BGColour};
        @apply border-#{$light-TagBorder};
        @apply text-#{$light-TagText};
}

.portfolio-list {
    .card:hover, .card:focus-within {
        @apply border-#{$light-CardBorder};
    }
}


.card {
.project-title, .skill-name { @apply text-#{$light-HeadingColour};}
.project-description, .skill-description, figcaption, label {@apply text-#{$light-LedeColour};}
}


.project-client-name {@apply text-#{$light-PrimaryTextAccent};}

.hero-title, .project-title, .form-title {@apply text-#{$light-HeadingColour};
strong {@include day-matcha-gradient;}
}

.hero-lede, .hero-section.portfolio .project-description {@apply text-#{$light-LedeColour};}

.project-deliverables, .project-timeframe {
strong {@apply text-#{$light-PrimaryTextAccent};}
p { @apply text-#{$light-LedeColour};}
}

.skills-section {
h3 {@apply text-#{$light-HeadingColour}; }
.intro p { @apply text-#{$light-LedeColour};}
}

.case-study {
h3 {@apply text-#{$light-HeadingColour};}
p, ul li {@apply text-#{$light-LedeColour};}
li::marker {@apply text-#{$light-PrimaryTextAccent};}

blockquote {
    @include day-matcha-gradient();

    &::before, &:after {@apply text-#{$light-BGColourMidTone}
}

}
}

.copyright-footer {
a p {@apply text-#{$light-HeadingColour};}
}

.contact-form{@apply bg-linear-to-b/oklch from-#{$light-BGColour} to-#{$light-BGColourMidTone};
input, textarea { @apply transition-all;}
}

.btn.primary{

&.filled {
    @apply bg-matcha-600;
    @apply text-pampas-50;
    @apply border-b-matcha-900;

    &:hover, &:active, &:focus {
        @apply bg-matcha-700; 
        @apply border-matcha-900;
        @apply border-b-matcha-900;}
    }

    
}

.btn.secondary {
&.filled {
    @apply bg-biscuit-600;
    @apply text-pampas-50;
    @apply border-b-biscuit-900;

    &:hover, &:active, &:focus {
        @apply bg-biscuit-700; 
        @apply border-biscuit-900;
        @apply border-b-biscuit-900;
    }
}

}

#theme-toggle{@apply bg-#{$light-BGColour};

.sun, .moon {@apply fill-#{$light-PrimaryTextAccent};}

}

.prose, .site-header .internal-links, .skills-section .intro p {

a {
    @apply text-#{$light-HeadingColour};

&:after{@include day-matcha-gradient();}

    &:hover, &:active, &:focus {
        @apply text-#{$light-PrimaryTextAccent};
    }

}
}

@media (prefers-color-scheme: dark){
    body{@apply bg-#{$dark-BGColour};}

    .logoSVG {
        @apply fill-#{$dark-PrimaryTextAccent};
    }

    .copyright-footer{
        @apply bg-#{$dark-BGColourMidTone};
        }

        .hero-section, .hero-section.portfolio {
            @apply bg-matcha-800; 
            @apply bg-linear-to-t/oklch from-gray-800 via-biscuit-900 via-matcha-800  to-sky-900;  
            }

            .card {
                @apply bg-#{$dark-CardBG};
                @apply border-#{$dark-CardBorder};
        }
    
        .tag-block li, .contact-form input, .contact-form textarea {
                @apply bg-#{$dark-BGColour};
                @apply border-#{$dark-TagBorder};
                @apply text-#{$dark-TagText};
        }
    
        .portfolio-list {
            .card:hover, .card:focus-within {
                @apply border-#{$dark-CardBorder};
            }
        }
    
    
    .card {
        .project-title, .skill-name { @apply text-#{$dark-HeadingColour};}
        .project-description, .skill-description, figcaption, label {@apply text-#{$dark-LedeColour};}
        .form-help {@apply text-biscuit-600;}
        }
    
    
    .project-client-name {@apply text-#{$dark-PrimaryTextAccent};}
    
    .hero-title, .project-title, .form-title {@apply text-#{$dark-HeadingColour};
        strong {@include night-matcha-gradient;}
    }

    .hero-lede, .hero-section.portfolio .project-description {@apply text-#{$dark-LedeColour};}
    
    .project-deliverables, .project-timeframe {
        strong {@apply text-#{$dark-PrimaryTextAccent};}
        p { @apply text-#{$dark-LedeColour};}
        }
    
    .skills-section {
        h3 {@apply text-#{$dark-HeadingColour}; }
        .intro p { @apply text-#{$dark-LedeColour}; }
        }
    
    .case-study {
        h3 {@apply text-#{$dark-HeadingColour};}
        p, ul li {@apply text-#{$dark-LedeColour};}
        li::marker {@apply text-#{$dark-PrimaryTextAccent};}
        
        blockquote {
            @include night-matcha-gradient();
        
            &::before, &:after {@apply text-#{$dark-BGColourMidTone}
        }
        
    }
    }
    
    .copyright-footer {
        a p {@apply text-#{$dark-HeadingColour};}
    }
    
    .contact-form{@apply bg-linear-to-b/oklch from-#{$dark-BGColour} to-#{$dark-BGColourMidTone};
        input, textarea { @apply transition-all;}
    }
    
    .btn.primary{
    
        &.filled {
            @apply bg-matcha-600;
            @apply text-pampas-50;
            @apply border-b-matcha-900;
    
            &:hover, &:active, &:focus {
                @apply bg-matcha-700; 
                @apply border-matcha-900;
                @apply border-b-matcha-900;}
            }
    
            
        }
    
    .btn.secondary {
        &.filled {
            @apply bg-biscuit-600;
            @apply text-pampas-50;
            @apply border-b-biscuit-900;
    
            &:hover, &:active, &:focus {
                @apply bg-biscuit-700; 
                @apply border-biscuit-900;
                @apply border-b-biscuit-900;
            }
        }
    
    }

    #theme-toggle{@apply bg-#{$dark-BGColour};

    .sun, .moon {@apply fill-#{$dark-PrimaryTextAccent};}

    }

    .prose, .site-header .internal-links {
        a::after{@include night-matcha-gradient();}
    }


    .prose, .site-header .internal-links, .skills-section .intro p {
    
        a {
            @apply text-#{$dark-HeadingColour};
    
        &:after{@include night-matcha-gradient();}
    
            &:hover, &:active, &:focus {
                @apply text-#{$dark-PrimaryTextAccent};
            }
    
        }
    }

    }
/* ------------------------------- */


html[data-theme=light] {
    body{@apply bg-#{$light-BGColour};}
    .logoSVG {
        @apply fill-#{$light-PrimaryTextAccent};
    }

    .copyright-footer{
        @apply bg-#{$light-BGColourMidTone};
    }

    .hero-section, .hero-section.portfolio {
        @apply bg-matcha-200; 
        @apply bg-linear-to-t/oklch from-pampas-100 via-biscuit-200 via-matcha-200  to-sky-300;  
    }


    .card {
            @apply bg-#{$light-CardBG};
            @apply border-#{$light-CardBorder};
    }

    .tag-block li, .contact-form input, .contact-form textarea {
            @apply bg-#{$light-BGColour};
            @apply border-#{$light-TagBorder};
            @apply text-#{$light-TagText};
    }

    .portfolio-list {
        .card:hover, .card:focus-within {
            @apply border-#{$light-CardBorder};
        }
    }


.card {
    .project-title, .skill-name { @apply text-#{$light-HeadingColour};}
    .project-description, .skill-description, figcaption, label {@apply text-#{$light-LedeColour};}
    }


.project-client-name {@apply text-#{$light-PrimaryTextAccent};}

.hero-title, .project-title, .form-title {@apply text-#{$light-HeadingColour};
    strong {@include day-matcha-gradient;}
}

.hero-lede, .hero-section.portfolio .project-description {@apply text-#{$light-LedeColour};}

.project-deliverables, .project-timeframe {
    strong {@apply text-#{$light-PrimaryTextAccent};}
    p { @apply text-#{$light-LedeColour};}
    }

.skills-section {
    h3 {@apply text-#{$light-HeadingColour}; }
    .intro p { @apply text-#{$light-LedeColour};}
    }

.case-study {
    h3 {@apply text-#{$light-HeadingColour};}
    p, ul li {@apply text-#{$light-LedeColour};}
    li::marker {@apply text-#{$light-PrimaryTextAccent};}
    
    blockquote {
        @include day-matcha-gradient();
    
        &::before, &:after {@apply text-#{$light-BGColourMidTone}
    }
    
}
}

.copyright-footer {
    a p {@apply text-#{$light-HeadingColour};}
}

.contact-form{@apply bg-linear-to-b/oklch from-#{$light-BGColour} to-#{$light-BGColourMidTone};
    input, textarea { @apply transition-all;}
}

.btn.primary{

    &.filled {
        @apply bg-matcha-600;
        @apply text-pampas-50;
        @apply border-b-matcha-900;

        &:hover, &:active, &:focus {
            @apply bg-matcha-700; 
            @apply border-matcha-900;
            @apply border-b-matcha-900;}
        }

        
    }

.btn.secondary {
    &.filled {
        @apply bg-biscuit-600;
        @apply text-pampas-50;
        @apply border-b-biscuit-900;

        &:hover, &:active, &:focus {
            @apply bg-biscuit-700; 
            @apply border-biscuit-900;
            @apply border-b-biscuit-900;
        }
    }

}

#theme-toggle{@apply bg-#{$light-BGColour};

.sun, .moon {@apply fill-#{$light-PrimaryTextAccent};}

}

.prose, .site-header .internal-links, .skills-section .intro p {
    
    a {
        @apply text-#{$light-HeadingColour};

    &:after{@include day-matcha-gradient();}

        &:hover, &:active, &:focus {
            @apply text-#{$light-PrimaryTextAccent};
        }

    }
}

}

html[data-theme=dark]{
    body{@apply bg-#{$dark-BGColour};}

    .logoSVG {
        @apply fill-#{$dark-PrimaryTextAccent};
    }

    .copyright-footer{
        @apply bg-#{$dark-BGColourMidTone};
        }

        .hero-section, .hero-section.portfolio {
            @apply bg-matcha-800; 
            @apply bg-linear-to-t/oklch from-gray-800 via-biscuit-900 via-matcha-800  to-sky-900;  
            }

            .card {
                @apply bg-#{$dark-CardBG};
                @apply border-#{$dark-CardBorder};
        }
    
        .tag-block li, .contact-form input, .contact-form textarea {
                @apply bg-#{$dark-BGColour};
                @apply border-#{$dark-TagBorder};
                @apply text-#{$dark-TagText};
        }
    
        .portfolio-list {
            .card:hover, .card:focus-within {
                @apply border-#{$dark-CardBorder};
            }
        }
    
    
    .card {
        .project-title, .skill-name { @apply text-#{$dark-HeadingColour};}
        .project-description, .skill-description, figcaption, label {@apply text-#{$dark-LedeColour};}
        }
    
        .hero-lede, .hero-section.portfolio .project-description {@apply text-#{$dark-LedeColour};}
    
    .project-client-name {@apply text-#{$dark-PrimaryTextAccent};}
    
    .hero-title, .project-title, .form-title {@apply text-#{$dark-HeadingColour};
        strong {@include night-matcha-gradient;}
    }
    
    .project-deliverables, .project-timeframe {
        strong {@apply text-#{$dark-PrimaryTextAccent};}
        p { @apply text-#{$dark-LedeColour};}
        }
    
    .skills-section {
        h3 {@apply text-#{$dark-HeadingColour}; }
        .intro p { @apply text-#{$dark-LedeColour};
    
        a:hover {@apply text-#{$dark-HeadingColour};}
        }
    }
    
    .case-study {
        h3 {@apply text-#{$dark-HeadingColour};}
        p, ul li {@apply text-#{$dark-LedeColour};}
        li::marker {@apply text-#{$dark-PrimaryTextAccent};}
        
        blockquote {
            @include night-matcha-gradient();
        
            &::before, &:after {@apply text-#{$dark-BGColourMidTone}
        }
        
    }
    }
    
    .copyright-footer {
        a p {@apply text-#{$dark-HeadingColour};}
    }
    
    .contact-form{@apply bg-linear-to-b/oklch from-#{$dark-BGColour} to-#{$dark-BGColourMidTone};
        input, textarea { @apply transition-all;}
    }
    
    .btn.primary{
    
        &.filled {
            @apply bg-matcha-600;
            @apply text-pampas-50;
            @apply border-b-matcha-900;
    
            &:hover, &:active, &:focus {
                @apply bg-matcha-700; 
                @apply border-matcha-900;
                @apply border-b-matcha-900;}
            }
    
            
        }
    
    .btn.secondary {
        &.filled {
            @apply bg-biscuit-600;
            @apply text-pampas-50;
            @apply border-b-biscuit-900;
    
            &:hover, &:active, &:focus {
                @apply bg-biscuit-700; 
                @apply border-biscuit-900;
                @apply border-b-biscuit-900;
            }
        }
    
    }

    #theme-toggle{@apply bg-#{$dark-BGColour};

    .sun, .moon {@apply fill-#{$dark-PrimaryTextAccent};}

    }

    .prose, .site-header .internal-links, .skills-section .intro p {
    
        a {
            @apply text-#{$dark-HeadingColour};
    
        &:after{@include night-matcha-gradient();}
    
            &:hover, &:active, &:focus {
                @apply text-#{$dark-PrimaryTextAccent};
            }
    
        }
    }

}
/* ------------------------------- */

}


