---
import config from '../../content/config/config.json';
import client from '../../../tina/__generated__/client';
import Page from "../../../tina/pages/Page.tsx";
import PortfolioLoop from '../../components/partials/Portfolio/PortfolioLoop.astro';
import PageComponent from '../../components/PageComponent.astro';
const data = await client.queries.page({relativePath: "portfolio_index.mdx"});
import SiteData from "../../constants/siteData.json";
---
		<PageComponent seo={{
			title: SiteData.pages.portfolio.title,
			description: SiteData.pages.portfolio.description}}>
		<main>
		<Page {...data} client:tina />
		<PortfolioLoop />
		</main>	
		</PageComponent>